---
layout: default
title: Projects
permalink: /projects/
---


<div id="main-content" class="flex flex-col items-center">
    <div class="flex flex-row" style="font-size: 20px;">
        <h1 style="margin:10px; margin-right:0px;">My</h1>
        <h1 style="margin: 10px; background: repeating-linear-gradient( 45deg, #00c853, #00c953 10px, #01c90a 10px, #18a21e 20px ); background-clip: border-box; -webkit-background-clip: text; color: transparent;""> Projects </h1>
    </div>
    <p style="margin-top:0px;"> A collection of things I have built, experimented with, and continue to improve. </p>
    <div id="proj-container" class="flex flex-row wrap justify-center">
        {% for project in site.projects %} 
        <a style="display:grid; grid-template-rows: 1fr 50px;" href="{{ project.url }}" class="proj">
            <div style="display: grid; grid-template-columns: 250px 1fr;">
                <div class="flex items-center justify-center">
                    <img class="proj-preview" src="{{ project.img }}" width="{{ project.width }}" height="{{ project.height }}"/>
                </div>
                <div style="margin-top: 15px;">
                    <p style="margin: 10px; color:var(--spring-green); background:var(--seafoam-green); width: fit-content; border-radius:15px; padding:2px;"> {{ project.tag }} </p>
                    <h3 class="proj-header">{{ project.title }}</h3>
                    <p class="proj-description">
                        {{ project.desc }}
                    </p>
                </div>
            </div>
            <div class="flex flex-row justify-between items-center">
                <p style="color: var(--spring-green); margin:5px; margin-left: 20px; height: fit-content;"> View Documentation -></p>
                <div style="gap: 10px; margin:10px;" class="flex flex-row items-center">
                        {% for topic in project.topics %}
                            <p style="border: 1px solid var(--sage-green); font-size:12px; margin: 0px; background: var(--seafoam-green); color: var(--spring-green); padding: 5px; line-height: 1.2; border-radius:10px;"> {{ topic }} </p>
                        {% endfor %}
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div style="margin-top: 20px; border-radius: 15px; border: 1px solid var(--border-color); box-shadow: var(--box-shadow); width: 100%; max-width: 1000px; display: grid; grid-template-columns: 100px 1fr;">
        <div class="items-center justify-center flex">
            <svg style="color: var(--spring-green); background: var(--seafoam-green); padding:10px; border-radius:100%;" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" viewBox="0 0 16 16">
                <path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0m6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0"></path>
            </svg>
        </div>
        <div class="flex flex-row justify-between items-center">
            <div>
                <h4 style="color: var(--black); margin-bottom:0px;">I'm always working on something new.</h4>
                <p style="margin-top: 10px;"> Check back later for more projects. </p>
            </div>
            <a class="flex flex-row items-center lets-connect">
                <p style="margin: 10px;">Lets Connect</p>
                <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                </svg>
            </a>
        </div>
    </div>
</div>