<!DOCTYPE html>
<html>
    <head>
        <title>hummusphere - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ '../styles/style.css' | relative_url }}" />
        <script src="{{ '../scripts/main.js' | relative_url }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include header.html %}
        <div id="main-content">
            <h1 id="blog-header" style="width:100%; max-width: 700px;">{{ page.title }}</h1>
            <p id="blog-date">{{ page.date | date: "%Y-%m-%d" }}</p>
            {{ content }}
            <a class="back-to-blogs" href="/blog/">< Back to blogs</a>
        </div>
        {% include footer.html %}
    </body>
</html>