<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ '../assets/logo.jpg' | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ '../styles/style.css' | relative_url }}" />
        <script src="{{ '../scripts/main.js' | relative_url }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>