<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap" rel="stylesheet">
        <title>Hummusphere - {{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="{{ '../assets/logo.jpg' | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ '../styles/style.css' | relative_url }}" />
        <script src="{{ '../scripts/main.js' | relative_url }}"></script>
        <script src="{{ '../scripts/blog-post.js' | relative_url }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include header.html %}
        <div id="top"></div>
        <div id="main-content" class="flex flex-col items-center">
            <div id="blog-page">
                <div>
                                    <div class="flex flex-col" style="border:1px solid var(--border-color); border-radius: 7px; height: fit-content; padding: 5px; box-shadow: var(--box-shadow);">
                    <div class="flex flex-row items-center" style="margin-left: 10px; gap: 10px; ">
                        <svg style="background: var(--seafoam-green); color: var(--spring-green); padding: 10px; border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                           <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"/>
                        </svg>
                        <h3> Recents Projects </h3>
                    </div>
                    {% for project in site.projects limit:4 %}  
                    <a href="{{ project.url }}" class="{% if page.url == project.url %}blog-side-link blog-side-link-active{% else %}blog-side-link{% endif %}" style="display:grid; grid-template-columns: 32px 1fr;">  
                        <svg style="color: var(--spring-green);" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-dot" viewBox="0 0 16 16">
                            <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                        </svg>
                        <div>
                            <p class="blog-list-a-tag">{{ project.title }}</p>  
                        </div>
                     </a>  
                    {% endfor %}  
                    <a href="/projects/" class="see-more"> See More -> </a>
                </div>
                <div class="flex flex-col" style="margin-top: 15px; border:1px solid var(--border-color); border-radius: 7px; height: fit-content; padding: 5px; box-shadow: var(--box-shadow);">
                        <div class="flex flex-row items-center" style="margin-left: 10px; gap: 10px; ">
                            <svg style="background: var(--seafoam-green); color: var(--spring-green); padding: 10px; border-radius: 5px;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                                    <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                                    <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
                            </svg>
                            <h3> Table of Contents </h3>
                        </div>
                        {% for item in page.toc %}
                        <div class="table-of-contents-item">
                            {% unless forloop.first %}
                                <div style="width: 2px; height: 50%; position: absolute; top: 0%; left: 3px; background: var(--border-color);"></div>
                            {% endunless %}
                            {% unless forloop.last %}
                                <div style="width: 2px; height: 50%; position: absolute; top: 50%; left: 3px; background: var(--border-color);"></div>
                            {% endunless %}
                            <div class="flex items-center justify-center">
                                <svg style="z-index:5;"xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-record-circle-fill" viewBox="0 0 16 16">
                                        <circle style="color: var(--spring-green);" cx="8" cy="8" r="8"/>
                                        <circle style="color: var(--bg-color);" cx="8" cy="8" r="3"/>
                                </svg>
                            </div>
                            <a href="#{{ item.id }}"class="blog-side-link">{{ item.title }}</a>
                        </div>
                        {% endfor %}
                    </div>
                    <div style="display: grid; grid-template-columns: 50px 1fr; gap: 10px; margin-top: 15px; border:1px solid var(--border-color); border-radius: 7px; height: fit-content; padding: 5px; box-shadow: var(--box-shadow);"> 
                        <svg style="color: var(--spring-green); padding: 10px; margin: 5px; border-radius: 100%; background: var(--seafoam-green);" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
                                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
                            </svg>
                        <div class="flex flex-col">
                            <h3 style="margin-bottom: 0px; margin-top: 15px;"> Like the project? </h3>
                            <p> Star the repo or share it with someone else!</p>
                            <div class="flex flex-row" style="gap: 10px; margin-bottom: 10px;">
                                <a href="{{ page.github_url }}"> 
                                    <svg class="blog-share" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                    </svg>
                                </a>
                                <svg class="blog-share" id="blog-share-link" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                    <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="font-size: 20px; width:100%; max-width: 700px; display:grid; grid-template-columns: 100px fr;">
                        <a class="back-to-blogs" href="/projects/"><- Back to projects</a>
                        <div></div>
                    </div>
                    <div class="flex flex-col" style="width:100%; max-width:700px; font-size: 20px; line-height: 32px;"> 
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>